<!DOCTYPE html>
<html>
<head>
    <title>eShop</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div id="app">
        <div class="modal" tabindex="-1" id="basket">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Корзина</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Содержимое корзины</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
        <header class="container-xxl bg-success">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="nav-link active" aria-current="page" href="index.html"><h2 class="text-light">eShop</h2></a>
                    <div class="nav-wrapper">
                        <input id="search-input" type="text" class="goods-search" v-model="searchLine" />
                        <button id="search-button" class="btn btn-outline-light cart-button"
                            type="button" @click="filterGoods">Искать</button>
                        <button class="btn btn-outline-light cart-button" type="button"
                            data-bs-toggle="modal" data-bs-target="#basket">Корзина</button>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container-xxl bg-light p-3">
            <div class="row">
                <div class="col">
                    <table id="goods-list" class="table table-striped">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Название</th>
                            <th scope="col">Цена</th>
                        </tr>
                        <tr class="goods-item" v-for="(good, index) in filteredGoods">
                            <th scope="row">{{index+1}}</th>
                            <td>{{ good.product_name }}</td>
                            <td>{{ good.price }} руб.</td>
                        </tr>
                        <tr v-if="filteredGoods.length == 0"><td colspan="3">Список пуст</td></tr>
                    </table>
                </div>
            </div>
            <div class="row mt-3 p-3">
                <!-- форма временно отключена -->
                <div class="col-4 border p-3 d-none">
                    <h3>Форма обратной связи</h3>
                    <form>
                        <div class="mb-3">
                            <label for="formName" class="form-label">Имя:</label>
                            <input type="text" class="form-control" id="formName" placeholder="только буквы">
                        </div>
                        <div class="mb-3">
                            <label for="formPhone" class="form-label">Телефон:</label>
                            <input type="text" class="form-control" id="formPhone" placeholder="+7(000)000-0000">
                        </div>
                        <div class="mb-3">
                            <label for="formEmail" class="form-label">E-mail:</label>
                            <input type="email" class="form-control" id="formEmail">
                        </div>
                        <div class="mb-3">
                            <label for="formComment" class="form-label">Комментарий:</label>
                            <textarea class="form-control" placeholder="Оставьте комментарий" id="formComment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" id="form-button">Проверить</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue_script.js"></script>
</body>
</html>